apiVersion: apps/v1
kind: Deployment
metadata:
  name: catchpoint-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catchpoint-exporter
  template:
    metadata:
      labels:
        app: catchpoint-exporter
    spec:
      containers:
      - name: catchpoint-exporter
        image: jonnywamsley/catchpoint-exporter:latest
        imagePullPolicy: Always
        args: ["--bearer-token={{ catchpoint_bearer_token }}", "--node-ids={{ node_ids }}"]
        ports:
        - containerPort: 8080
