apiVersion: v1
kind: Service
metadata:
  name: catchpoint-exporter
  labels:
    app: catchpoint-exporter
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    app: catchpoint-exporter
